.greeting-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    gap: 50px;
}

.greeting-image img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.greeting-text {
    max-width: 600px;
}

.greeting-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 0.3em;
}

.greeting-subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
    white-space: pre-line;
}

@media (max-width: 768px) {
    .greeting-section {
        flex-direction: column;
        text-align: center;
    }

    .greeting-image img {
        width: 150px;
    }
}


#skills {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 20px;
}

#skills h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #222;
}

.skill-category {
    margin-bottom: 50px;
    flex: 1 1 250px;
    /* 최소 너비 250px, 유동적으로 늘어남 */
    max-width: 300px;
    /* 최대 너비 제한 */
    margin-bottom: 0;
    /* 세로 마진 제거 */
}


.skill-category h3 {
    display: inline-block;
    font-size: 1em;
    color: white;
    margin: 10px 0;
    padding: 8px 12px;
    background: linear-gradient(135deg, #055bac, #86a1ba);
    border-radius: 10px;
}


.skill-category p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #000000;
}

.tech-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.tech-icons i {
    font-size: 40px;
    transition: transform 0.3s;
}

.tech-icons i:hover {
    transform: scale(1.2);
}